* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #f7eedb;
    color: #222;
    display: grid;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 18px;
    margin: -1px 0 -1px 0 ;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    grid-gap: 10px;
}

.titulo {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

.grid-container {
    display: grid;
    border: 2px solid #222;
    padding: 10px;
}

.scroll-lista {
    list-style: none;
    height: 120px;
    overflow-y: scroll;
    margin: 10px 0 10px 0;
    display: flex;
}

.empresa::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.memoria::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.discos::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.total::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.utilizados::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
